<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href='http://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <noscript>
        <link rel="StyleSheet" media="print" href="{{ asset('bundles/hyperx/css/print-src.css') }}" type="text/css" />
    </noscript>
    <link rel="stylesheet" href="{{ asset('bundles/hyperx/css/main.css') }}" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ asset('bundles/hyperx/css/style_ie.css') }}" type="text/css" media="screen, projection"/>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ asset('bundles/hyperx/css/style_ie7.css') }}" type="text/css" media="screen, projection"/>
    <![endif]-->
    <title>{% block title %}Обзоры - Kingston Hyper-X{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Last-Modified" content="Mon, 29 Oct 2012 13:55:12 GMT" />
    <meta http-equiv="Expires" content="Mon, 29 Oct 2012 14:35:53 GMT" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-control" content="no-cache, proxy-revalidate, must-revalidate" />
    <meta name="description" content="Обзоры Компания Kingston Technology анонсировала 240-контактные модули DIMM оперативной памяти DDR3 из новой линейки HyperX Predator Series, ориентированные..." />
    <meta name="keywords" content="HyperX,Kingston,SSD,памяти,продукции,модули,Technology,для,Genesis,SSDNow,Predator,Компания,накопители,Red,новые,Твердотельные,требовательных,Обзор,Новости,объемом,предлагает,накопителем,расширяет,Память,одну,оригинальность,DDR,Проверить,Series,Blu" />
    <meta name="generator" content="web-T::CMS" />
    <meta name="yandex-verification" content="" />
    <meta name="google-site-verification" content="" />
    <meta name="robots" content="index,follow,archive" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <script type="text/javascript">
        //<![CDATA[
        var lang_nick = "ru";
        var lang_id = 1;
        var domain = 'http://hyperx.com.ua';
        //]]>
    </script>
    <!--script type="text/javascript" src="languages/ru.lang.v1346090394.js"></script>
    <script type="text/javascript" src="js/core.v1.js"></script-->


    <link rel="alternate" type="application/atom+xml" title=" (Atom)" href="http://hyperx.com.ua/news/xml/atom/smphr/1/index.xml" />
    <link rel="alternate" type="application/rss+xml" title=" (RSS 2.0)" href="http://hyperx.com.ua/news/rss/index.xml" />



    <meta property="og:title" content="Главная" />
    <meta property="og:url" content="http://hyperx.com.ua/" />
    <meta property="og:image" content="http://hyperx.com.ua/skin/img/project/logo.png" />
    <meta property="og:description" content="" />
    <link rel="image_src" href="http://hyperx.com.ua/skin/img/project/logo.png" />



    <!------- ------->

    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />




</head>
<body class="reviews-page">

<!-- CLIP -->

<div class="g-header">
    <div class="inner">
        <div class="z1" id="cont-actions">

            <div class="action">
                <div id="actions-slider">
                    <ul>
                        <li>
                            <div class="item">
                                <a href="/actions/id/s-8-po-30-oktjabrja-007/" data-id="7">
                                    <h3>АКЦИЯ</h3>
                                    <h4>С 8 по 30 октября!</h4>
                                    НЕВЕРОЯТНЫЕ СКИДКИ К ДЕСЯТИЛЕТИЮ HYPERX! &gt;&gt;
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="z2" id="cont-menu">
            <ul class="b-menu">
                <li><a id="btn-goods" href="goods.html">Продукты</a></li>
                <li><a id="btn-news" href="news.html">Новости</a></li>
                <li><a id="btn-reviews" href="reviews.html">Обзоры</a></li>
                <li><a id="btn-actions" href="actions.html">Акции</a></li>
            </ul>
            <a class="b-href-xtreme" target="_blank" href="http://xtremelabs.org/"></a>
            <a class="b-href-navi" target="_blank" href="http://navi-gaming.com/"></a>
        </div>
        <div class="z3" id="cont-logo">
            <div class="logo">
                <a href="index.html" class="mainlogo"><strong>Kingston Hyper-X</strong></a>
                <span><a href="#">SPEEDTEST</a></span>
            </div>

            <a href="http://www.facebook.com/KingstonUa/app_12469973101352" target="_blank" rel="nofollow" class="fb">SHARE</a>        </div>
    </div>
</div>

<!-- END CLIP -->

{% block content %}
{% endblock %}

<!-- CLIP -->

<!--footer-->
<div class="g-footer">
    <div class="inner">
        <div class="z4" id="cont-footer">
            <ul>
                <li><a id="btn-where-to-buy" href="/where-to-buy/">ГДЕ КУПИТЬ?</a></li>
                <li><a id="btn-faq" href="/faq/">Обратная связь</a></li>
            </ul>
        </div>
    </div>
</div>

<!--/footer-->

<!-- END CLIP -->

<ins class="clr"></ins>
<noindex>
    <script type="text/javascript">//<![CDATA[
    $p.ajax.checkAjaxPage(0);
    //]]>
    </script>

    <!--script type="text/javascript" src="js/jquery.v2.js"></script>
    <script type="text/javascript" src="js/project.v1.js"></script-->

    <script type="text/javascript">//<![CDATA[
    project.pseudoReady();
    //]]>
    </script>

    <!-- there is you need to set gemius parts -->
    <div class="b-counter-list">
        <div class="b-counter"><script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-35358963-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
        </script></div><div class="b-counter"><!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter17535091 = new Ya.Metrika({id:17535091, enableAll: true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/17535091" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter --></div></div>

    <div id="b-banners-sandbox" style="display:none;">
        <div id="banner730x90_in" class="bs">

        </div>
        <div id="banner730x90_footer_in" class="bs">

        </div>
        <div id="banner240x350_in" class="bs">

        </div>
        <div id="banner240x350_2_in" class="bs">

        </div>
        <div id="banner160x600_in" class="bs">

        </div>
        <div id="banner730x90_list_1_in" class="bs">

        </div>
        <div id="banner730x90_list_2_in" class="bs">

        </div>

    </div>



</noindex>


<script type="text/javascript">//<![CDATA[
$p.events.attachLoad(function(){portal.css.load('/css/project/print-src.v1346090393.css', {'media' : 'print'})});
//]]>
</script>


</body>
</html>


