{% extends "KingstonHyperxBundle::layout.html.twig" %}
{% block content %}
        <div id="cont-goods" class="g-goods">
            <div class="b-goods-inner">
		<div class="goods-cats">
                    <ul class="top-menu"
                        <li class="m1 active" data-cat-id="1" data-owner-id="0" id="cat-button-1"><span>Память</span></li>
                        <li class="m2" data-cat-id="2" data-owner-id="0" id="cat-button-2"><span>SSD</span></li>			
                        <li class="m0" data-cat-id="0" data-owner-id="0" id="cat-button-0"><span>Продукты</span></li>
                    </ul>
                    <del class="clr"></del>
                    <div class="goods-descr">
                            <div id="goods-descr-cont"></div>
                    </div>
                    <div class="total-cats" id="total-cats" style="display: block;">
                        <div class="cats-cont" id="cats-0" style="display: none;">
                            <ul class="cats">
                                <li class="c11">
                                    <a data-cat-id="1" data-owner-id="0" href="#"><img alt="Модули памяти Kingston HyperX" src="http://hyperx.com.ua/files/catalog_cat/images/0/1/moduli-pamjati-kingston-hyperx_1_p0.png"></a>
                                    <a class="title" data-cat-id="1" data-owner-id="0" href="#">Модули памяти Kingston <span>HyperX</span></a>
                                    <del class="clr"></del>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="btn-go-back" style="display: block;"></a>
            <div class="b-check-original" style="display: block;">
                    <a href="http://www.kingston.com/ru/memory/hyperx/decoder/" target="_blank" class="ajx-std">Проверить оригинальность продукции &gt;&gt;</a>
                    <span>Проверка за одну минуту</span>
            </div>
        </div>





<h1>ProductCategory</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Shortname</th>
            <td>{{ entity.shortName }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ entity.url }}</td>
        </tr>
    </tbody>
</table>




<table class="records_list">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Shortname</th>
        <th>Url</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td><a href="{{ path('productcategory_product', { 'id': product.id }) }}">{{ product.id }}</a></td>
            <td>{{ product.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}